.message-list {
}

.message-list__empty {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-top: none;
}

.message-list__ul {
  padding: 0;
  margin: 0;
  border-top: none;
  border-bottom: none;
}

.message-list__li {
  list-style-type: none;
}
